{% extends 'base.html' %}
{% load static %}
{% block content %}
      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Blank Page</li>
        </ol>

        <!-- Page Content -->
          {% if registered %}
              <div class="alert alert-success">Registered Successfully</div>
          {% endif %}
        <h1>Welcome {{ request.user.username }}!</h1>
        <hr>

      </div>
      {% endblock %}