{% extends "base.html" %}
{% load static %}
{% block head %}
    <link href="{% static 'mfa/css/mfa.css' %}" rel="stylesheet">
    <script src="{% static 'mfa/js/u2f-api.js' %}" type="text/javascript"></script>
    {{ token|json_script:"token" }}
    {% url 'bind_u2f' as bind_u2f %}
    {{ bind_u2f|json_script:"bind_u2f" }}
    {{ csrf_token|stringformat:"s"|json_script:"csrf_token" }}
    {{ redirect_html|json_script:"redirect_html" }}
    {{ reg_success_msg|json_script:"reg_success_msg" }}
    {% url 'manage_recovery_codes' as manage_recovery_codes %}
    {{ manage_recovery_codes|json_script:"manage_recovery_codes" }}
    {{ RECOVERY_METHOD|json_script:"RECOVERY_METHOD" }}
    {% url 'mfa_home' as mfa_home %}
    {{ mfa_home|json_script:"mfa_home" }}
    <script type="application/javascript" src="{% static 'mfa/js/U2F/add.js' %}"></script>
{% endblock %}
{% block content %}
    <br/>
    <br/>
    <div class="container">
        <div class="col-md-6 col-md-offset-3" id="two-factor-steps">
            <div id="res"></div>
            <div class="row text-center">
                <h4>Adding {{ method.name }}</h4>
            </div>
            <div class="row">
                <p class="success-message">Your secure Key should be flashing now, please press on button.</p>
            </div>
        </div>
    </div>
    {% include "modal.html" %}
{% endblock %}