{% load static %}
{% block head %}
    <link href="{% static 'mfa/css/mfa.css' %}" rel="stylesheet">
    <script src="{% static 'mfa/js/u2f-api.js' %}" type="text/javascript"></script>
    {{ token|json_script:"token" }}
    {{ csrf_token|stringformat:"s"|json_script:"csrf_token" }}
    {{ mode|json_script:"mode" }}
    {% url 'u2f_recheck' as u2f_recheck %}
    {{ u2f_recheck|json_script:"u2f_recheck" }}
    <script type="application/javascript" src="{% static 'mfa/js/U2F/recheck.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="panel panel-default card">
                <div class="panel-heading card-header">
                    <strong> Verify your identity using {{ method.name }}</strong>
                </div>
                <div class="panel-body card-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 padding-left-15 text-center" id="main_paragraph">
                            <p class="success-message">Your key should be flashing now, please press the button.</p>
                            {% if mode == "auth" %}
                                <form id="u2f_login" action="{% url 'u2f_verify' %}" method="post">
                            {% elif mode == "recheck" %}
                                <form id="u2f_login" action="{% url 'u2f_recheck' %}" method="post">
                            {% endif %}
                            {% csrf_token %}
                            <input type="hidden" name="response" id="response" value=""/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3 padding-left-15">
                        {% if request.session.mfa_methods|length > 1 %}
                            <a href="{% url 'mfa_methods_list' %}">Select Another Method</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
