.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.padding-10 {
    padding: 10px;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-left-25 {
    padding-left: 25px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-right-30 {
    padding-right: 30px;
}

#popUpModal {
    top: 40px;

    & .modal-dialog {
        height: 80%;
        width: 80%;
    }
}

.img-circle {
    padding: 3px;
    height: 50px;
}

.success-message {
    color: green;
}
.error-message {
    color: red;
}

.font-10 {
    font-size: 10px;
}

.color-gray {
    color: #333333;
}

.bg-white {
    background-color: #f0f0f0;
}

.institution-code {
    font-size: 10pt;
    font-family: Calibri;
    height: 34px;width: 230px
}

.td-digits {
    font-size: 16px;
    font-weight: bold;
    margin-left: 50px;
}

#two-factor-steps {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 15px;

    & .row {
        margin: 0;
        align-items: center;
    }

    & .toolbtn {
        border-radius: 7px;
        cursor: pointer;

        & :hover {
            background-color: gray;
            transition: 0.2s;
        }

        & :active {
            background-color: green;
            transition: 0.2s;
        }
    }

    & #answer {
        display: inline;
        width: 95%
    }

    & #second_step {
        display: none;
        text-align: center;
        align-content: center
    }

    & .tokenrow {
        margin-top: 10px;
        margin-left: 5px;
    }
}

.row.margin-3 {
    margin: 3px;
}

.row.margin-left-15, .auth-card .row {
    margin-left: 15px;
}