.alert-pr{
    align-items: center;
}
.alert-pr>p.success,#res>p.success,.row>success{
    color:green;
}

.panel-body>.paragraph{
    padding-left: 15px;
}
.panel-body{
    align-items: center;
}
#popUpModal{
    top: 40px;
}
#popUpModal>.modal-dialog{
    height: 80%;
    width: 80%;
}
#two-factor-steps {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 15px;
}
#two-factor-steps>.row{
        margin: 0px;
        align-items: center;
}