{% extends "mfa_auth_base.html" %}
{% load i18n %}
{% load static %}
{% block head %}
    <link href="{% static 'mfa/css/mfa.css' %}" rel="stylesheet">
    <script src="{% static 'mfa/js/TrustedDevice/add.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{% trans 'Add Trusted Device' %}</strong>
                </div>
                <div class="panel-body">
                    {% if success %}
                        <div class="alert alert-warning">
                            {% trans 'Please check your PC window, to continue the process' %}.
                        </div>
                    {% elif added %}
                        <div class="alert alert-success">
                            {% trans 'Your device is now trusted, please try to' %} <a href="{% url 'login' %}"> {% trans 'login' %}</a>
                        </div>
                    {% else %}
                        <div class="alert alert-warning">{% trans 'Please make sure you are not in private (incognito) mode' %} <i
                                class="fal fa-user-secret"></i></div>
                        <FORM METHOD="POST" ACTION="{% url 'add_td' %}" Id="formLogin" name="FrontPage_Form1">
                            {% csrf_token %}
                            <input type="hidden" name="begin" id="id_begin" value="{% url 'td_checkTrusted' %}"/>
                            <input type="hidden" name="secure" id="id_secure" value="{% url 'td_securedevice' %}"/>
                            

                            {% if invalid %}
                                <div class="alert alert-danger">
                                    {{ invalid }}
                                </div>
                            {% endif %}
                            {% if quota %}
                                <div class="alert alert-warning">
                                    {{ quota }}
                                </div>
                            {% endif %}
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-user"></i>
                                                </span>
                                                <input class="form-control" id="username" size="30" MaxLength="30"
                                                       placeholder="Username" name="username" value="{{ username }}"
                                                       type="text" autofocus autocomplete="on">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                <i class="fa fa-key"></i>
                                                </span>
                                                <input class="form-control text-uppercase" placeholder="e.g GAK-Y2M"
                                                       id='key' name="key" type="text" size="9" MaxLength="9"
                                                       value="{{ key }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span class="input-group">
                                                <input id='agree' name="agree" type="checkbox">
                                                <span class="color-red">{% trans 'I confirm that this device is mine and it is only used by me' %}.</span>
                                            </span>
                                        </div>
                                        {% comment %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                  <span class="input-group-addon">
                                                      <select size="1" name="Institution_Code"
                                                              class="font-10-pt font-calibri height-34 width-230">
                                                          {% for ins in institutes %}
                                                              <option value="{{ ins.institution_code }}">{{ ins.alias }}</option>
                                                          {% endfor %}
                                                        </select>
                                                  </span>
                                                </div>
                                            </div>
                                        {% endcomment %}
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-lg btn-success btn-block"
                                                   value="Trust Device">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    {% endif %}
                </div>
                <div class="panel-footer ">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
