{% extends "base.html" %}
{% load static %}
{% block head %}
    <link href="{% static 'mfa/css/mfa.css' %}" rel="stylesheet">
    <script type="application/javascript" src="{% static 'mfa/js/ua-parser.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'mfa/js/base64url.js' %}"></script>
    <script type="application/javascript" src="{% static 'mfa/js/helpers.js' %}"></script>
    {% url 'fido2_begin_reg' as fido2_begin_reg %}
    {{ fido2_begin_reg|json_script:"fido2_begin_reg" }}
    {% url 'fido2_complete_reg' as fido2_complete_reg %}
    {{ fido2_complete_reg|json_script:"fido2_complete_reg" }}
    {{ redirect_html|json_script:"redirect_html" }}
    {{ reg_success_msg|json_script:"reg_success_msg" }}
    {% url 'manage_recovery_codes' as manage_recovery_codes %}
    {{ manage_recovery_codes|json_script:"manage_recovery_codes" }}
    {{ RECOVERY_METHOD|json_script:"RECOVERY_METHOD" }}
    {% url 'mfa_home' as mfa_home %}
    {{ mfa_home|json_script:"mfa_home" }}
    <script type="application/javascript" src="{% static 'mfa/js/FIDO2/add.js' %}"></script>
{% endblock %}
{% block content %}
    <br/>
    <br/>
    <div class="container">
        <div class="panel panel-default card">
            <div class="panel-heading card-header">
                <strong> Adding a New {{ method.name }}</strong>
            </div>
            <div class="panel-body card-body">
                <div class="row alert alert-pr.success-message " id="res">
                    <p class="success-message">Your browser should ask you to confirm you identity.</p>
                </div>
            </div>
        </div>
    </div>
    {% include "modal.html" %}
{% endblock %}
